{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="post" action=".">
     <div class="row justify-content-md-center">
          <div class="col-md-4">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-plus"></i>
                  Eliminar Equipo Médico
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  {% csrf_token %}

                  {{ form.errors }}

                  {{ form.as_p }}

                  <div class="alert alert-danger alert-dismissible">
                  <h5><i class="icon fas fa-ban"></i> Notificación</h5>
                  ¿Estás seguro de eliminar el registro
                      {{ object.nombre_equipo }}
                      {{ object.marca_equipo }}
                      {{ object.modelo_equipo }}
                      {{ object.numero_serie }}?
                </div>

              </div>
                <div class = "card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check-square"></i> ACEPTAR</button>
                    <a href="{{ view.get_success_url }}" class="btn btn-danger"><i class="fas fa-window-close"></i> CANCELAR</a>
                </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          </div>


    </div>
    </form>
{% endblock %}